
.master_page {
    background: url(/bg-light.webp) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
}

.thm_headerlinks a {
    text-decoration: underline;
    color: #333;
    font-weight: bold;
}

p {
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Lato', sans-serif !important;
    font-weight: 700;
}

a.thm_cta {
    font-size: 15px;
}
.thm_profilepic {
    border-radius: 50%;
    display: inline-block;

}
.thm_introheading {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 10px;
}